{% extends 'base/base.html' %}
{% load static %}
{% block title %}
  Sign Out
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'base/css/sections/delete_pdf.css' %}" />
  <h1 class="text-center mt-4">Sign Out</h1>
  <form class="form" action="{% url 'users:logout' %}" method="post">
    {% csrf_token %}
    <h3 class="mb-4">Are you sure you want to Sign Out?</h3>
    <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-danger">Sign Out</button>
        <a type="submit" class="btn btn-primary" href="base:view_pdf">No,Cancel</a>
    </div>
    
  </form>
{% endblock %}
