{% extends 'base/base.html' %}
{% load static %}
{% block title %}Sign In{% endblock title %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'users/css/sections/sign_up.css' %}">
    <div class="container">
        <div class="form-box">
            <h1>Sign In</h1>
            <form class="form" action="{% url 'users:signin' %}" method="post">
                {% csrf_token %}
                <div class="input-data">
                    <div class="input-filled">
                        <i class="fa-solid fa-user"></i>
                        {{ form.username }}
                    </div>
                    <div class="input-filled">
                        <i class="fa-solid fa-lock"></i>
                        {{ form.password }}
                    </div>

                    <p>You want to sign up,<a href="#"> Click here!</a></p>
                    {% if form.errors %}
                        <div class="error_form">
                            <strong>Error(s):</strong>
                            <ul>
                                {% for error in form.username.errors %}
                                    <li>Username: {{ error }}</li>
                                {% endfor %}
                                {% for error in form.password.errors %}
                                    <li>Password: {{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}

                </div>
                <div class="button-sign-up">
                    <button>Sign In</button>
                </div>
            </form>
        </div>
    </div>{% endblock content %}