@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: black;
    padding: 20px 10px;
}
.navbar h1{
    font-size: 20px;
    font-weight: bold;
    color: lawngreen;
    margin-left: 50px;
    text-transform: uppercase;
    width: 30%;
}
.navbar-lists{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px 5px;
    width: 70%;
}
.navbar-a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.navbar-a:hover{
    background: white;
    color: black;
    border-radius: 5px;
    font-size: 25px;
    transition: 0.2s;
}
.main{
    min-height: 75vh;
    background: #ddb90a;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
    background: #9c3705;
}
.footer h1 {
    font-size: 20px;
    font-weight: bold;
    color: aliceblue;
    margin-left: 50px;
    width: 30%;
    text-transform: uppercase;
}
.ul-footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px 5px;
    width: 70%;
}
.a-footer{
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    color: #0f0101;
    text-transform: uppercase;
}