@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
.container-fluid{
    padding: 10px;
}
.navbar{
    background-image: linear-gradient(to right ,#a517ba,#5f1782);
    padding: 0 !important;
}

.navbar-brand{
    text-transform: uppercase;
    margin-left: 40px;
    color: #fff;
    font-weight: 600;
}
.navbar-nav li{
    padding: 0 10px;

}

.navbar-nav  li a{
    color: #fff !important;
    font-weight: 600;
    float: right;
    text-align: left;
    text-transform: uppercase;
}

.main{
    min-height: 95vh;
}

#footer{
    background-image: linear-gradient(to right ,#a517ba,#5f1782);
    color: #fff;

}
.footer-box{
    padding: 20px;
}

.footer-box .fa-solid{
    margin-right: 8px;
    font-size: 25px;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 7px;
    border-radius: 2px;
    background-image: linear-gradient(to right ,#a517ba,#5f1782);
}

.footer-box .form-control{
    box-shadow: none !important;
    border: none;
    border-radius: 0;
    margin-top: 25px;
    max-width: 250px;
}

.footer-box .btn-primary{
    box-shadow: none !important;
    border: none;
    border-radius: 0;
    margin-top: 25px;
    background-image: linear-gradient(to right ,#a517ba,#5f1782);
}
.nav-link p{
    text-transform: lowercase;
    font-size: 10px;
    display: inline;
}
