
.view-pdf{
    min-height: 95vh;
}
.display{
    height: 600px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.display-pdf{
    height: 100%;
    width: 100%;
    display: block;
}
.highlight {
    background-color: yellow !important;
  }