{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://kit.fontawesome.com/5ab6ea2e2a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'base/css/sections/base.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>
<body>
<navbar class="navbar">
    <h1>PDF Search Project</h1>
    <div class="navbar-lists">
        {% if user.is_authenticated %}
            <a class="navbar-a" href="{% url 'base:upload_pdf' %}">Upload PDFs</a>
            <a class="navbar-a" href="{% url 'base:view_pdf' %}">View All PDFs</a>
            <a class="navbar-a" href="#">Update PDF</a>
            <a class="navbar-a" href="{% url 'users:logout' %}">Sign Out</a>

        {% else %}
            <a class="navbar-a" href="{% url 'users:signin' %}">Sign In</a>
            <a class="navbar-a" href="{% url 'users:signup' %}">Sign Up</a>
        {% endif %}

    </div>
</navbar>
<main class="main">
    {% block content %}
    {% endblock content %}
</main>

<footer class="footer">
    <h1>Search PDF Project</h1>
    <ul class="ul-footer">
        <a  class="a-footer" href="#">Home</a>
        <a class="a-footer" href="#">About</a>
        <a class="a-footer" href="#">Projects</a>
        <a class="a-footer" href="#">Contact Us</a>
        <a class="a-footer" href="#">Location</a>
        <a class="a-footer" href="#">More!</a>

    </ul>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>
</html>